<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ver isso ainda">
    <title>Saude Sul RS</title>
    <link rel="stylesheet" tyoe="text/css" href="style.css">
</head>
<body>
    <header class="cabecalho">
        <img class="imagem-cabeçalho" src="logo.svg">
        <h1 class="texto-embaixo da logo">Saúde Sul RS</h1>
    </header>
    
    <main>
        <section>
            <h3 class="texto-explicativo">Texto explicativo</h3>
        </section>
            
        <section>
            <img class="imagem-contato" src="">
            <img class="imagem-serviços" src="">
            <img class="imsgem-sobrenos" src="">
        </section>
    </main>

    <footer class="rodape">
        <img class="logo-rodape" src="logo.svg">
    </footer>

</body>
</html>