<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ver isso ainda">
    <title>Saude Sul RS</title>
    <link rel="stylesheet" tyoe="text/css" href="Homepage.css">
</head>
<body>
    <header>
        <div class="center">
             <img src="./imagem/logohomecare.png"></img>
        </div>
        <h1>Saúde Sul RS</h1>
        <h2>#texto para ajuste</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a href="Homepage.html" > Sobre mim</a>
            </li>
            <li>
                <a href="Formulario.html">Serviços</a>
            </li>
            <li>
                <a href="Contato.html">Contato</a>
            </li>
        </ul>
    </nav>
    
    <main>
        <section>
            <h3 class="texto-explicativo">A Saúde Sul RS oferece serviços de Home Care de qualidade, incluindo cuidados de enfermagem, internação domiciliar e cuidados paliativos. Nossos profissionais altamente capacitados fornecem cuidados personalizados para garantir o bem-estar físico e emocional dos pacientes em suas próprias casas. Saiba mais sobre nossos serviços em nossa página de Home Care.</h3>
        </section>
            
        <section>
            <img class="imagem-contato" src="">
            <img class="imagem-serviços" src="">
            <img class="imagem-sobrenos" src="">
        </section>
    </main>

    <footer class="rodape">
        <a href="https://www.instagram.com/grupo_saudesul/" target="_blank" rel="noopener noreferrer">
            <img src="./imagens/Instagram_logo_2016.svg"></img>
            <p>Instagram</p>
        </a>
        <img class="logo-rodape" src="logo.svg">
    </footer>

    

</body>
</html>