

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(231, 183, 187);
}

footer .rodape {
    width: 40px;
    height: 40px;
}
footer .logo-rodape {
    width: 40px;
    height: 40px;
}
