<!DOCTYPE html>
<html Long="en">
<head>
    <meta charset="UTF -8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" typt="text/css" href="Trabalheconosco.css" media="">
    <title>Trabalhe conosco - Saude Sul RS</title>
    
</head>

<body>
    <header class="cabecalho"></header>
    <h1 id="title">Trabalhe conosco</h1>
    
    
<form>
    <fieldset class="grupo">
        <div>
            <h1 id="title">Adicione seu curriculo em PDF abaixo:</h1>
           
        </div>

        <div>
            <label for="nome"><strong>Qual sua cidade?</strong></label>
            <input typy="text"></input>
        </div>

        
</form>

</body>